pid /Users/rlehmann/code/retocode/knative-encryption/9-envoy/nginx.pid;

events {
    worker_connections 1024;
}

http {
    server {
        listen 8443 ssl;
        server_name your_domain.com;

        ssl_certificate /Users/rlehmann/code/retocode/knative-encryption/9-envoy/certs/cert.crt;
        ssl_certificate_key /Users/rlehmann/code/retocode/knative-encryption/9-envoy/certs/cert.key;

         #root /var/www/html;  # Change this to the path of your www content

        #index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
        # Additional SSL settings
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers off;

        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_session_tickets off;

        # Enable HSTS (HTTP Strict Transport Security)
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

        # Set buffer size for reading from the client
        client_max_body_size 50M;
    }
}